.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
	}
	
.nav li{
    display: inline;
}

.jumbotron{
    background-image: url("images/header.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbotron h1{
    color: black;
	font-size: 48px;
	font-family: 'Shift', open-sans;
}

.text{
    color: black;
    font-size: 15px;
    padding-top: 25px;
}

.links a:hover{
    text-decoration: none;
}

.resume{
    padding-top: 50px;
    display: table;
    margin: 0 auto;
}

.profile{
    margin-left: auto;
}
.learn-more {
    margin-right: 100px;
}

.experience {
    margin-right: 100px;
    padding-top: 25px;
}

.video{
    padding-top: 50px;
}

.tacode{
    padding-top: 50px;
}

.game{
    padding-top: 50px;
}

.form-group{
    padding-top: 50px;
}